.KeplerShopPage {
  width: 100%;
  height: 100%;
}

.KeplerShopPage__main {
  width: 100%;
  min-height: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 60px 10px;

  // @media screen and (max-width: 800px) {
  //   max-width: 540px;
  // }
  @media screen and (max-width: 640px) {
    max-width: 600px;
  }

  h3 {
    margin-bottom: 15px;
  }
}

.KeplerShopPage__title {
  img {
    width: 100%;
  }
}

.KeplerShopPage__subtitle {
  padding-top: 3rem;
  padding-bottom: 6rem;

  text-align: center;
  color: #fff;
  font-family: "GmarketSansMedium";
  font-size: 2.7rem;
}

.KeplerShopPage__banner {
  width: 100%;
  max-width: 720px;

  img {
    width: 100%;
  }
}

.KeplerShopPage__contents {
  padding: 40px 0;
  margin: auto;
  text-align: center;
  color: $box-text-color;
}

.KeplerShopPage__boxs {
  > p {
    position: absolute;
    left: 58%;
    bottom: 0;
    transform: translate(-50%, -50%);
    padding: 2rem;
    font-style: italic;
    text-shadow: 3px 0 10px #fff;
    font-family: "GMarketSans";
    font-size: 3rem;
  }

  span > img {
    width: 4rem;
  }

  .prev {
    position: absolute;
    left: 14%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

    @media screen and (max-width: 640px) {
      left: 27%;
    }

    @media screen and (max-width: 540px) {
      left: 10%;
    }
  }
  .next {
    position: absolute;
    right: -4%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

    @media screen and (max-width: 540px) {
      right: 0;
    }
  }
}

#slideShow_box {
  width: 600px;
  height: 500px;
  position: relative;
  // margin: 0 auto;
  overflow: hidden; /*리스트 형식으로 이미지를 일렬로 정렬할 것이기 때문에, 500px 밖으로 튀어 나간 이미지들은 hidden으로 숨겨줘야됨*/

  @media screen and (max-width: 640px) {
    width: 450px;
    height: 300px;
  }

  @media screen and (max-width: 540px) {
    width: 390px;
    height: 300px;
  }

  > p {
    position: absolute;
    width: 100%;
    left: 58%;
    bottom: 0;
    transform: translate(-50%, -50%);
    padding: 2rem;
    font-style: italic;
    text-shadow: 3px 0 10px #fff;
    font-family: "GmarketSans";
    font-size: 3rem;
    font-weight: 550;

    @media screen and (max-width: 640px) {
      left: 62%;
      bottom: -3rem;
      font-size: 2.7rem;
    }

    @media screen and (max-width: 540px) {
      left: 50%;
      bottom: -3rem;
      font-size: 2.7rem;
    }
  }

  .slides {
    position: absolute;
    left: 0;
    top: 0;
    width: 1800px; /* 슬라이드할 사진과 마진 총 넓이 */
    transition: left 0.5s ease-out; /*ease-out: 처음에는 느렸다가 점점 빨라짐*/

    @media screen and (max-width: 640px) {
      width: 1480px;
    }

    @media screen and (max-width: 540px) {
      width: 1190px;
    }
  }
  /* 첫 번째 슬라이드 가운데에 정렬하기위해 첫번째 슬라이드만 margin-left조정 */
  .slides li:first-child {
    margin-left: 100px;

    @media screen and (max-width: 540px) {
      margin-left: 2rem;
    }
  }
  /* 슬라이드들 옆으로 정렬 */
  .slides li:not(:last-child) {
    float: left;
    margin-right: 100px;

    @media screen and (max-width: 540px) {
      margin-right: 2rem;
    }
  }

  .slides li {
    float: left;

    > img {
      width: 50rem;
      border-radius: 4em;

      @media screen and (max-width: 640px) {
        width: 35rem;
      }
    }
  }
}

.check {
  font-family: "NanumSqure";
  font-size: 1.6rem;
  p {
    padding: 1rem;
  }
}

.KeplerShopPage__table {
  position: relative;
  width: 90%;
  margin: 0 auto;
  // margin-top: 5rem;
  box-shadow: 0 0 5px #fff, 0 0 40px $hover-color;
  font-family: "GmarketSansMedium";

  @media screen and (max-width: 800px) {
    width: 90%;
    margin: 5rem auto;
  }

  .table_title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;

    img {
      width: 20rem;
    }
  }

  .table_contents {
    width: 100%;
    padding: 3rem;
    margin: 0 auto;
    font-size: 2.5rem;
    color: #fff;

    .item {
      display: flex;
      width: 100%;
      margin: 0 auto;
      padding-top: 2rem;
      justify-content: space-between;

      img {
        width: 10rem;
      }

      > li {
        margin: 0 auto;

        > p {
          height: 100%;
          padding-top: 3.5rem;
        }
      }
    }

    .item_bg {
      background: $bg-gradtion-bottom;
      border-radius: 1em;
    }
    .item_mul {
      font-style: italic;
      font-size: 2rem;
    }
    .item_count {
      font-style: italic;
    }
    .item_border {
      p {
        border: 3px solid #fff;
        padding: 2rem;
        cursor: pointer;

        &:hover {
          border-color: $hover-color;
          color: $hover-color;
          background-color: #fff;
        }
      }
    }
  }
}

.table_changer {
  img {
    width: 10rem;
  }
}
