.KeplerMainPage {
  width: 100%;
  height: 100%;
}

.KeplerMainPage__main {
  width: 100%;
  min-height: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding-top: 70px;
  padding: 60px 10px;
  color: $white;
  text-align: center;

  @media screen and (max-width: 800px) {
    max-width: 540px;
  }
  @media screen and (max-width: 600px) {
    max-width: 420px;
  }
  h3 {
    margin-bottom: 15px;
  }
}

.KeplerMainPage__title {
  font-size: 4rem;
  font-style: italic;
  text-shadow: 0 0 7px #ac01b4, 0 0 10px #ac01b4, 0 0 21px #ac01b4;
  padding: 24px 24px 40px 24px;

  @media screen and (max-width: 800px) {
    font-size: 30px;
  }
  @media screen and (max-width: 600px) {
    font-size: 24px;
  }
}

.KeplerMainPage__content {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  @include breakpoint("max-card") {
    padding: 40px 0;
  }
}

.KeplerMainPage__infoBox {
  align-items: center;
  text-align: center;
  img {
    width: 25rem;
  }
}

.KeplerMainPage__link {
  // width: 54rem;
  padding-top: 4rem;
  margin: 0 auto;

  div {
    display: flex;
    width: 70%;
    margin: 0 auto;

    @media screen and (max-width: 640px) {
      display: initial;
    }
  }

  li {
    flex: 1;
    list-style: none;
    line-height: 4rem;
    margin: 1em;
    padding: 3rem 0;
    font-size: 1.3em;
    border: 2px solid #ac01b4;
    border-radius: 1em;

    a:hover {
      color: #ac01b4;
    }
  }
}
