.KeplerShopPage {
  width: 100%;
  height: 100%;
  background: linear-gradient($bg-gradtion-top, $bg-gradtion-bottom);
}

.KeplerShopPage__main {
  width: 100%;
  min-height: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 60px 10px;

  // @media screen and (max-width: 800px) {
  //   max-width: 540px;
  // }
  @media screen and (max-width: 640px) {
    max-width: 600px;
  }

  h3 {
    margin-bottom: 15px;
  }
}

.KeplerShopPage_title {
  text-align: center;
  border: 1rem solid;
  border-color: #fff;

}

.KeplerShopPage__contents {
  padding: 40px 0;
  margin: auto;
  text-align: center;
  color: $box-text-color;
}

.KeplerShopPage__boxs {
  > p {
    position: absolute;
    left: 58%;
    bottom: 0;
    transform: translate(-50%, -50%);
    padding: 2rem;
    font-style: italic;
    text-shadow: 3px 0 10px #fff;
    font-family: "GMarketSans";
    font-size: 3rem;
  }

  span > img {
    width: 4rem;
  }

  .prev {
    position: absolute;
    left: 14%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

    @media screen and (max-width: 640px) {
      left: 27%;
    }

    @media screen and (max-width: 540px) {
      left: 10%;
    }
  }
  .next {
    position: absolute;
    right: -4%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

    @media screen and (max-width: 540px) {
      right: 0;
    }
  }
}

#slideShow_box {
  width: 600px;
  height: 500px;
  position: relative;
  // margin: 0 auto;
  overflow: hidden; /*리스트 형식으로 이미지를 일렬로 정렬할 것이기 때문에, 500px 밖으로 튀어 나간 이미지들은 hidden으로 숨겨줘야됨*/

  @media screen and (max-width: 640px) {
    width: 450px;
    height: 300px;
  }

  @media screen and (max-width: 540px) {
    width: 390px;
    height: 300px;
  }

  > p {
    position: absolute;
    width: 100%;
    left: 58%;
    bottom: 0;
    transform: translate(-50%, -50%);
    padding: 2rem;
    font-style: italic;
    text-shadow: 3px 0 10px #fff;
    font-family: "GmarketSans";
    font-size: 3rem;
    font-weight: 550;

    @media screen and (max-width: 640px) {
      left: 62%;
      bottom: -3rem;
      font-size: 2.7rem;
    }

    @media screen and (max-width: 540px) {
      left: 50%;
      bottom: -3rem;
      font-size: 2.7rem;
    }
  }

  .slides {
    position: absolute;
    left: 0;
    top: 0;
    width: 1800px; /* 슬라이드할 사진과 마진 총 넓이 */
    transition: left 0.5s ease-out; /*ease-out: 처음에는 느렸다가 점점 빨라짐*/

    @media screen and (max-width: 640px) {
      width: 1480px;
    }

    @media screen and (max-width: 540px) {
      width: 1190px;
    }
  }
  /* 첫 번째 슬라이드 가운데에 정렬하기위해 첫번째 슬라이드만 margin-left조정 */
  .slides li:first-child {
    margin-left: 100px;

    @media screen and (max-width: 540px) {
      margin-left: 2rem;
    }
  }
  /* 슬라이드들 옆으로 정렬 */
  .slides li:not(:last-child) {
    float: left;
    margin-right: 100px;

    @media screen and (max-width: 540px) {
      margin-right: 2rem;
    }
  }

  .slides li {
    float: left;

    > img {
      width: 50rem;
      border-radius: 4em;

      @media screen and (max-width: 640px) {
        width: 35rem;
      }
    }
  }
}

.KeplerShopPage__mint {
  margin: 3rem;

  .mint_btn {
    width: 15rem;
    padding: 2rem;
    margin: 0 auto;
    background: linear-gradient($btn-gradtion-top, $btn-gradtion-bottom);
    border-radius: 1.2em;
    font-family: "GmarketSansBold";
    color: $white;
    font-size: 1.5rem;
    cursor: pointer;

    @media screen and (max-width: 800px) {
      margin: 2rem auto;
    }

    &:hover {
      color: $btn-gradtion-top;
      background: $white;
    }
  }

  p {
    padding: 5rem;
    font-family: "NanumSqureBold";
    font-size: 2rem;
  }
}

.mint_item {
  display: flex;

  @media screen and (max-width: 800px) {
    display: initial;
  }

  > div {
    margin: 3rem;
  }

  .mint_klay {
    img {
      width: 2.5rem;
    }
    &::after {
      content: "KLAY";
      padding: 1rem;
    }
  }

  .mint_key {
    img {
      width: 2.5rem;
      transform: scale(1.4);
    }
    &::after {
      content: "KEY";
      padding: 1rem;
    }
  }
}

.check {
  font-family: "NanumSqure";
  font-size: 1.6rem;
  p {
    padding: 1rem;
  }
}

.KeplerShopPage__payable {
  display: flex;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 5rem;
  background: #190021;
  border-radius: 3em;

  @media screen and (max-width: 800px) {
    display: initial;
    width: 80%;
  }

  div {
    label {
      font-size: 2rem;
      color: $white;
    }

    p {
      margin: 1rem;
      font-style: italic;
      font-family: "GmarketSansMedium";
      color: $box-text-color;
    }
  }

  .box_price {
    flex: 2;
    margin: 2rem;
    padding: 2rem;
    border-right-style: solid;
    border-color: $bar-color;

    @media screen and (max-width: 800px) {
      border-right-style: none;
    }
  }

  .klay_balance {
    flex: 3;
    margin: 2rem;
    padding: 2rem;
  }
}

.KeplerShopPage__table {
  background-color: $table-bg-color;
  margin-top: 5rem;

  @media screen and (max-width: 800px) {
    width: 90%;
    margin: 5rem auto;
  }

  .table_title {
    width: 80%;
    padding: 3rem;
    padding-top: 5rem;
    margin: 0 auto;
    font-size: 3rem;
    font-family: "GmarketSansLight";
    border-bottom-style: solid;
    border-color: $bar-color;

    @media screen and (max-width: 800px) {
      font-size: 2.5rem;
    }
  }

  .table_contents {
    width: 100%;
    padding: 3rem;
    margin: 0 auto;

    > div {
      display: flex;
      // width: 100%;
      // margin: 0 auto;
      // padding: 3rem;
      margin: 3rem;

      @media screen and (max-width: 800px) {
        display: initial;
      }

      > div {
        flex: 1;

        label {
          font-family: "GMarketSansMedium";
          font-size: 2.4rem;
          color: $white;

          @media screen and (max-width: 800px) {
            font-size: 2rem;
            padding: 2rem;
          }
        }

        li {
          display: flex;
          list-style: none;
          color: $table-text-color;
          // margin: 0 auto;
          margin: 2.2rem;

          p {
            margin: 0 auto;
            font-family: "NanumSquareBold";
            font-size: 1.6rem;
            // padding: 1rem;
            @media screen and (max-width: 800px) {
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }
}
