.NFTBox {
  width: 100%;
  margin-top: 20px;

  .NFTBox__Name {
    text-align: center;
    font-size: 1.7rem;

    @media screen and (max-width: 800px) {
      font-size: 1.5rem;
    }
  }
  .NFTBox__Img {
    width: 180px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
