.Proposal {
  width: 100%;
  height: 100%;
  color: $white;
  background-color: #221b3d;
  text-align: center;
}

.container {
  padding-top: 6rem;
  padding-bottom: 10rem;
}

.Proposal__before {
  width: 100%;
  padding-bottom: 2rem;
  margin: 0 auto;
  max-width: 720px;

  .prev {
    position: relative;
    text-align: left;

    &:hover {
      cursor: pointer;
      color: #988bd4;
    }

    img {
      width: 24rem;
    }
    p {
      position: absolute;
      top: 50%;
      left: 19%;
      transform: translate(-50%, -50%);
      color: #bdbbc0;
      font-size: 1.8rem;
      font-family: "GmarketSansMedium";

      &:hover {
        cursor: pointer;
        color: #988bd4;
      }
    }
  }
}

.Proposal__title {
  padding: 1rem;
  font-family: "GmarketSansBold";
  font-size: 2.6rem;
  font-style: italic;
  line-height: 4rem;
}

.Proposal__contents {
  padding: 8rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  max-width: 720px;
  margin: 0 auto;
  border-radius: 4rem;
  background-color: #06050c;
  font-family: "GmarketSansMedium";
  white-space: pre-wrap;

  .sub_title {
    font-size: 2rem;
    font-family: "GmarketSansBold";
    padding: 2.5rem;
  }
}

.Proposal__info {
  color: #9d9d9d;
  margin-top: -2rem;
  padding-bottom: 2rem;
}

.Proposal__status {
  display: flex;
  width: 100%;
  border-radius: 1rem;
  background-color: #242329;
  text-align: center;
  margin: 3rem auto;
  font-family: "GmarketSansMedium";

  > div {
    margin: 1rem auto;

    > div > ul > li,
    p {
      padding: 1rem;
    }
  }
  .Proposal__period {
    flex: 3;
    border-right: 2px solid #616165;

    > div {
      display: flex;
      width: 100%;

      > p {
        flex: 1;
      }
    }
  }
  .Proposal__vote {
    display: flex;
    width: 100%;
    flex: 2;

    > div {
      display: flex;
      width: 100%;

      > ul {
        width: 100%;
      }
    }
  }
}

.Proposal__proposer {
  color: #afafaf;
  padding-bottom: 2rem;

  > p {
    font-size: 1.8rem;
  }
}

.Proposal__detail {
  color: #afafaf;
  padding-bottom: 2rem;
  min-height: 200px;

  > p {
    font-size: 1.5rem;
    line-height: 3rem;
  }
}

.Proposal__btn {
  display: flex;
  width: 80%;
  margin: 0 auto;

  .btn-suggest {
    background: #51408b;
    border-radius: 0.2em;
    margin: 3rem auto;
    width: 30%;
    text-align: center;
    padding: 1.5rem;
    font-size: 2.2rem;
    font-style: italic;
    font-family: "GmarketSansBold";

    &:hover {
      background: #656565;
    }
  }
}

.Vote__nft {
  position: relative;

  > h2 {
    text-align: center;
    margin: 2rem auto;
    color: #afafaf;
  }

  .nft__count {
    position: absolute;
    top: 9%;
    right: 10%;
    width: 12rem;
    background-color: #212126;
    color: #afafaf;
    font-family: "GmarketSansMedium";
    padding: 0.5rem;
    border-radius: 0.3rem;
  }
}

.nft {
  width: 100%;
  display: flex;

  > div {
    margin: 1rem;
  }
  img {
    width: 90%;
  }
}
