.TotalEvolTable {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  @include breakpoint("max-card") {
    padding: 40px 0;
  }
}

.TotalEvolTable__title {
  font-size: 40px;
  font-style: italic;
  text-shadow: 0 0 7px #ac01b4, 0 0 10px #ac01b4, 0 0 21px #ac01b4;
  padding: 24px 24px 40px 24px;

  @media screen and (max-width: 800px) {
    font-size: 30px;
  }
  @media screen and (max-width: 600px) {
    font-size: 24px;
  }
}

.TotalEvolTable__date {
  font-style: italic;
  padding: 10px;
  padding-bottom: 20px;
  font-size: 24px;

  @media screen and (max-width: 800px) {
    font-size: 20px;
  }
  @media screen and (max-width: 600px) {
    font-size: 16px;
  }
}

.TotalEvolTable__token {
  text-align: center;
  padding-bottom: 50px;

  h2 {
    padding-top: 20px;
    text-shadow: 0 0 7px #ac01b4, 0 0 10px #000, 0 0 21px #ac01b4;
    font-weight: bold;
    padding-bottom: 30px;
  }

  div {
    display: flex;
    flex-flow: wrap;
    overflow: overlay;
    height: 200px;
    a {
      margin: 10px;
      width: 120px;

      @media screen and (max-width: 800px) {
        width: 100px;
      }
      @media screen and (max-width: 600px) {
        width: 80px;
      }
      h3 {
        font-size: 18px;

        &:hover {
          background-color: $hover-color;
        }
      }
    }
  }
}
